In [1]:
import numpy
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [3]:
!pip install yfinance --upgrade --no-cache-dir

Collecting yfinance
  Downloading https://files.pythonhosted.org/packages/53/0e/40387099824c98be22cd7e33a620e9d38b61998b031f0b33f0b9959717d2/yfinance-0.1.45.tar.gz
Requirement already satisfied, skipping upgrade: pandas>=0.24 in /usr/local/lib/python3.7/site-packages (from yfinance) (0.24.2)
Requirement already satisfied, skipping upgrade: numpy>=1.15 in /usr/local/lib/python3.7/site-packages (from yfinance) (1.16.1)
Requirement already satisfied, skipping upgrade: requests>=2.20 in /usr/local/lib/python3.7/site-packages (from yfinance) (2.21.0)
Collecting multitasking>=0.0.7 (from yfinance)
  Downloading https://files.pythonhosted.org/packages/69/e7/e9f1661c28f7b87abfa08cb0e8f51dad2240a9f4f741f02ea839835e6d18/multitasking-0.0.9.tar.gz
Requirement already satisfied, skipping upgrade: pytz>=2011k in /usr/local/lib/python3.7/site-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.5.0 in /usr/local/lib/python3.7/site-packages (from pandas>=0.24->yfinance) (2.7.5)
Requirement already satisfied, skipping upgrade: idna<2.9,>=2.5 in /usr/local/lib/python3.7/site-packages (from requests>=2.20->yfinance) (2.8)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in /usr/local/lib/python3.7/site-packages (from requests>=2.20->yfinance) (2018.11.29)
Requirement already satisfied, skipping upgrade: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.7/site-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied, skipping upgrade: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.7/site-packages (from requests>=2.20->yfinance) (1.24.1)
Requirement already satisfied, skipping upgrade: six>=1.5 in /usr/local/lib/python3.7/site-packages (from python-dateutil>=2.5.0->pandas>=0.24->yfinance) (1.12.0)
Building wheels for collected packages: yfinance, multitasking
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.45-cp37-none-any.whl size=14651 sha256=216c3165fb6df97b0eb38a3a07cba1760f0261bed824532ec3389ea03b721a1a
  Stored in directory: /private/var/folders/0m/nj42bh1n6g32mf_53x8qjx_80000gp/T/pip-ephem-wheel-cache-vz3j3u3b/wheels/0c/d1/df/aa9a7744a4ac353cc9a1f2c3aaea7c1f457fc49de4286f2d88
  Building wheel for multitasking (setup.py) ... done
  Created wheel for multitasking: filename=multitasking-0.0.9-cp37-none-any.whl size=8367 sha256=db915425decde2a3b110f6bcbf248118b4cc35da5a991a58bbe1c2a44a529b56
  Stored in directory: /private/var/folders/0m/nj42bh1n6g32mf_53x8qjx_80000gp/T/pip-ephem-wheel-cache-vz3j3u3b/wheels/37/fa/73/d492849e319038eb4d986f5152e4b19ffb1bc0639da84d2677
Successfully built yfinance multitasking
Installing collected packages: multitasking, yfinance
Successfully installed multitasking-0.0.9 yfinance-0.1.45

In [9]:
from pandas_datareader import data as pdr
import yfinance as yf

yf.pdr_override()
dataframe = pdr.get_data_yahoo('JPM', start="2018-01-01").reset_index()
dataframe.to_csv('JPM.csv', index=False)
dataframe.head()

[*********************100%***********************]  1 of 1 downloaded

        Date    Open    High     Low   Close  Adj Close    Volume
0 2018-01-02  107.63  108.02  106.81  107.95     103.16  13578800
1 2018-01-03  107.86  108.49  107.48  108.06     103.26  11901000
2 2018-01-04  108.36  110.03  108.20  109.04     104.74  12953700
3 2018-01-05  109.26  109.55  107.78  108.34     104.07  14155000
4 2018-01-08  108.15  108.68  107.70  108.50     104.22  12466500